/*
Theme Name: Bitcoin Association Theme
Template: total
Author: Lightning Sharks Ltd
Description: Custom theme for Bitcoin Association website
Text Domain: bitcoinassociation
*/

/*.ht-content {
	width: 100% !important; 
}*/

.wp-video video { 
	width: 100%; 
}

#main {
	min-height: 100vh; 
}

.single-post .ht-main-header {
    display: block;
}

/*.single-post #primary{
	width: 100% !important;
}*/

.blog .entry-header, .archive .entry-header {
	display: inline; 
}

.blog .entry-header .entry-title, .archive .entry-header .entry-title {
	font-size: 18px; 
	font-weight: 500; 
}

/*.blog #primary, .archive #primary {
	width: 100% !important; 
}*/

@media only screen and (min-width: 900px){

	.wp-block-columns.alignfull.has-2-columns.flex-center .wp-block-embed-youtube.wp-block-embed.is-type-video.is-provider-youtube.wp-embed-aspect-16-9.wp-has-aspect-ratio.text-center {
		text-align: right; 
	}

	#cookie_action_close_header, #CONSTANT_OPEN_URL {
		margin-left: 2em; 
	}

	.blog article.post, .archive article.post {
		width: 32%;
		display: inline-flex;
	}
	
}

@media only screen and (min-width: 600px) and (max-width: 899px){
	
	.blog article.post, .archive article.post {
		width: 49%;
		display: inline-flex;
	}
	
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800,900');

body, a, span, p, label, input, h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif !important;
}

body, button, input, select, textarea{
	color: #000 !important;
	font-size: 15px !important;
}

h1{
	font-weight: 700
}

#ht-masthead, #ht-colophon, #cookie-law-info-bar, #cookie-law-info-again { 
	background: #0A568C !important;
	border-top: none !important; 
}

#cookie_action_close_header {
	background: #eab300 !important;
}

#cookie-law-info-bar span, #cookie-law-info-bar a, #cookie-law-info-again span {
	color: #fff !important;
}

.ht-main-navigation a {
	color: #fff !important;
}

#ht-bottom-footer {
	background: none !important;
}

.ht-main-navigation li:hover > a, .page-template-home-template .ht-main-navigation li:hover > a, .home.blog .ht-main-navigation li:hover > a, .ht-main-navigation .current_page_item > a, .ht-main-navigation .current-menu-item > a, .ht-main-navigation .current_page_ancestor > a, .page-template-home-template .ht-main-navigation .current > a, .home.blog .ht-main-navigation .current > a {
	background: none !important; 
	color: #eab300 !important;
}

 .page-content .alignwide {
        margin-left  : -80px;
        margin-right : -80px;
    }
.ht_no_sidebar #primary {
    margin-left  : calc( -100vw / 2 + 100% / 2 ) !important;
    margin-right : calc( -100vw / 2 + 100% / 2 ) !important;
    max-width    : 100vw !important;
}
.alignfull img {
    width: 100vw;
}

.ht-main-header{
	display: none;
}

.page-id-443 .wp-block-cover-text{
	font-size: 1.1rem
}

.ht-footer{
	width: 33% !important;
	margin-left: 0.3% !important;
}

.ht-footer1{
	text-align: left;
}

.ht-footer3{
	text-align: right;
}

.ht-footer2{
	text-align: center;
}

#ht-colophon a, #ht-top-footer, #ht-bottom-footer{
	color: #fff !important
}

.ht-footer ul li a:hover,a:hover, #ht-colophon a:hover{
	color: #EAB300 !important
}

.ht-footer3 ul li{
	display: inline-block;
}

.text-upper{
	text-transform: uppercase;
}

.text-left{
	text-align: left;
}

.bg-solid{
	background-color: #EAB300;
}

.mb-0{
	margin-bottom: 0;
}

.mt-2{
	margin-top: 2rem;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}

.txt-white{
	color: #fff;
}

.py-2{
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.px-2{
	padding-right: 2rem;
	padding-left: 2rem
}

.pb-2{
	padding-bottom: 2rem;
}

.text-center{
	text-align: center;
}

.font-weight-8, .font-weight-bold{
	font-weight: 700 !important
}

.font-weight-4{
	font-weight: 400 !important;
}

.font-weight-med-size {
    font-size: 14px;
    font-weight: 400 !important;
}

.font-weight-light {
    font-weight: 200 !important;
}

.hr-left{
  background-image: -moz-linear-gradient( 0deg, rgb(232,179,52) 0%, rgb(255,209,100) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(232,179,52) 0%, rgb(255,209,100) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(232,179,52) 0%, rgb(255,209,100) 100%);
  width: 121px;
  height: 3px;
  margin-bottom: .8rem;
}

.wp-block-columns.alignfull.has-2-columns{
	padding-left: 2rem;
	padding-right: 2rem; 
}

.flex-center{
	display: flex;
	align-items: center;
}

.flex-center-cont{
	display: flex;
	align-items: center;
	justify-content: center;
}

#ht-bottom-footer{
	padding: 15px 0 !important
}

#ht-top-footer{
	padding: 30px 0 !important
}

.difcolor{
	color: #e9b335
}

.title-dif-color .textwidget p {
    font-size: 1.2rem;
}

.textwidget p{
	font-size: 13px
}

.so-widget-sow-button-atom-5769593e9bec .ow-button-base a.ow-button-hover:hover{
	background-image: -moz-linear-gradient( 0deg, rgb(233,179,53) 0%, rgb(255,228,0) 100%) !important;

	background-image: -webkit-linear-gradient( 0deg, rgb(233,179,53) 0%, rgb(255,228,0) 100%) !important;

	background-image: -ms-linear-gradient( 0deg, rgb(233,179,53) 0%, rgb(255,228,0) 100%) !important;
}

.ow-icon-placement-left.ow-button-hover{
	border-color: rgb(234, 180, 28) !important;
	background: #fff !important;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 15px !important;

}


/*founders stylling*/
.shadow-md {
    box-shadow: 0 0 3rem rgba(0,0,0,.1) !important;

}

.dir-pic {
    border-radius: 10px;
    padding: .2em;
    background-image: -moz-linear-gradient( 0deg, rgb(233,179,53) 0%, rgb(255,228,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(233,179,53) 0%, rgb(255,228,0) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(233,179,53) 0%, rgb(255,228,0) 100%);
    width: 90px;
    height: 90px;
    position: relative;
    margin: -95px auto 0;

}

p.title {
    font-weight: 600;
    padding-top: 15px;
    font-size: 12px;
	letter-spacing: 1px;
	line-height: 14px;
}

p.desc {
    font-weight: 300;

}

.dir img {

    border-radius: 8px;
    width: 100%;
    height: 100%;

}
.border-rad{
	border-radius: 8px
}

.dir .textwidget{
	padding: 2.8rem 1rem .8rem 1rem;
}

.fixed-h{
	height: 200px;
}

.logo-img{
	text-align: center;
}

.logo-img img{
	width:70%;
}

.page-content{
	margin-bottom: 0!important;
}

.section-title .sow-headline{
	font-size: 75px;
	font-weight: 400 !important;
	text-transform: uppercase;
}

.section-title .sow-sub-headline{
	font-size: 35px
}


.bttn .wp-block-button__link{
	color: #000;
	font-family: Montserrat, sans-serif;
	font-size: 10px;
	font-weight: 300;
	letter-spacing: 1px;
	text-align: center;
	border: #EAB41C 1px solid !important;
	text-transform: uppercase;
	padding: 1.5em 3em;
	border-radius: 5px;
	margin: 30px 0;
	background: #fff
}

.bttn .wp-block-button__link:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {

    color: #FFFFFF !important;
    text-decoration: none;
    background-image: -moz-linear-gradient( 0deg, rgb(233,179,53) 0%, rgb(255,228,0) 100%) !important;
    background-image: -webkit-linear-gradient( 0deg, rgb(233,179,53) 0%, rgb(255,228,0) 100%) !important;
    background-image: -ms-linear-gradient( 0deg, rgb(233,179,53) 0%, rgb(255,228,0) 100%) !important;

}

#post-452 h1.sow-headline{
	font-size: 35px
}

.top-title h2{
	font-weight: 700 !important
}

.video-card:hover {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.1);
    cursor: pointer;
}

.video-card{
	padding: 2rem 2.5rem
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    border-top: 1px solid #e9ecef;

}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea{
	border: 2px solid #EAB300 !important;
	border-radius: 7px !important;
	line-height: 2.2 !important;
}

#post-458 h5{
	font-weight: 400 !important
}

